@model NonProfitCRM.Models.Donation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Contacts</a></li>
                    <li class="breadcrumb-item active">Add New</li>
                </ol>
            </div>
            <h4 class="page-title">Add Contact</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<h2>Edit</h2>

<h4>Donation</h4>
<hr />
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="OrgId" class="control-label"></label>
                                <select asp-for="OrgId" class="form-control" asp-items="ViewBag.OrgId"></select>
                                <span asp-validation-for="OrgId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EventId" class="control-label"></label>
                                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                                <span asp-validation-for="EventId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CampaignId" class="control-label"></label>
                                <select asp-for="CampaignId" class="form-control" asp-items="ViewBag.CampaignId"></select>
                                <span asp-validation-for="CampaignId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContactId" class="control-label"></label>
                                <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
                                <span asp-validation-for="ContactId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GuestDonation" class="control-label"></label>
                                <input asp-for="GuestDonation" class="form-control" />
                                <span asp-validation-for="GuestDonation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GuestEmail" class="control-label"></label>
                                <input asp-for="GuestEmail" class="form-control" />
                                <span asp-validation-for="GuestEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RecurringDonation" class="control-label"></label>
                                <input asp-for="RecurringDonation" class="form-control" />
                                <span asp-validation-for="RecurringDonation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TransactionTypeId" class="control-label"></label>
                                <select asp-for="TransactionTypeId" class="form-control" asp-items="ViewBag.TransactionTypeId"></select>
                                <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DonationTypeId" class="control-label"></label>
                                <select asp-for="DonationTypeId" class="form-control" asp-items="ViewBag.DonationTypeId"></select>
                                <span asp-validation-for="DonationTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>