@model Core.Domain.Donation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
}

<h2>Donation</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Contact</a></li>
                    <li class="breadcrumb-item active">Add New</li>
                </ol>
            </div>
            <h2 class="page-title">Add a Donation</h2>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-controller="Donation" asp-action="Create">
                    <div class="row">
                        <div class="col-lg-6">
                            @using (Html.BeginForm())
                            {
                                <b>Contact Name </b>
                                @Html.TextBox("searchTerm", null, new { id = "textSearch" })
                                <input type="submit" value="Search" />
                            }


                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Events<span class="mandatory" style="color:red;font-size:20px">*</span> </label>
                                <div class="col-sm-8" id="demo">
                                    @Html.DropDownList("Name", (SelectList)ViewBag.Name, "Select", new { @class = "form-control", required = true, id = "Id" })
                                    <span  id="Events" class="text-danger"> </span>
                                </div>
                            </div>

                        </div>



                            <div class="col-lg-6">



                            </div>
                        </div>
                </form>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div>

<!--Prive image after upload on same page-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

